:root {
	--cageColor: #fff;
}

.cell,
.cell:disabled,
.numberButton {
	background-color: var(--cageColor);
	border: 1px solid var(--cageColor);
}

.hidden {
	display: none;
}

.lockIcon {
	height: 1rem;
	cursor: pointer;
}

.numberButton {
	/* Eliminated via right click (active state) */
	--bs-btn-active-bg: transparent;
	--bs-btn-active-color: rgb(0, 0, 0, 0.1);

	/* Value already in row or column (disabled state) */
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: transparent;
	--bs-btn-disabled-color: transparent;

	margin: 0;
	padding: 0;
}

.numberButton:hover {
	--bs-btn-bg: transparent;

	opacity: 0.5;
}

.undoButton {
	font-size: 95%;
	opacity: 0.1;
}

.undoButton:hover {
	font-size: 100%;
	opacity: 0.2;
}

.possibleSolution {
	color: limegreen;
	/* cursor: pointer; */
}

.eliminatedSolution {
	color: gray;
}
