:root {
	--default-disabled-color: #e9ecef;
}

.cell {
	border: 1px solid black;
}

/* 
FIXME:
	Due to the cascading nature of this style sheet, .boxBottom .boxRight have to be below .cell because they are applying an additional border effect that overrides .cell's default. I would like to refactor this so the CSS is not dependent on the order in which it's written. 
*/
.boxBottom {
	border-bottom: 2px solid black;
}

.boxRight {
	border-right: 2px solid black;
}

.cellContent,
.cellContent:disabled {
	background-color: #fff;
	border: 1px solid #fff;
	box-shadow: 0 0 0 0.25rem #fff;
}

/* Style for default focus effect */
.focused {
	border: 1px solid #86b7fe;
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.undoButton {
	font-size: 95%;
	opacity: 0.1;
	/* transition: 0.1s ease-in; */
}

.undoButton:hover {
	font-size: 100%;
	opacity: 0.2;
	/* transition: 0.2s ease-in; */
}

/* .solved {
	background-color: #198754;
	border: 1px solid #198754;
	box-shadow: 0 0 0 0.25rem #198754;
	color: #fff;
} */
